ul {
  list-style-type: none;
  margin: ;
  padding:;
  overflow: hidden;
  background-color: #87CEFA;

}
.topi{
  font-size: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  top: 5px;
  left: 5px;
}

li a:hover {
  background-color: #87CEFA;
}

.box-keranjang{
  float: right;
  position: relative;
  bottom: 10px;
}

thead tr th{
  font-size: 20px;
}

tbody tr td{
  font-size: 20px;
}